.storefront-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
.nft-marketplace-icon1 {
  position: absolute;
  top: 8.6px;
  left: 44px;
  width: 199.4px;
  height: 19.8px;
}
.logo1 {
  height: 32px;
  flex: 1;
  position: relative;
}
.nav-logo1 {
  width: 243px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rocketlaunch-icon9 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.button18 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  white-space: nowrap;
}
.connect-a-wallet4 {
  height: 46px;
  border-radius: var(--br-xl);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.navigation-child1 {
  height: 85px;
  width: 83px;
  position: relative;
  object-fit: contain;
}
.rocketlaunch-icon10 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.button19 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 46px;
}
.marketplace3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-xs);
}
.rocketlaunch-icon11 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.button20 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
}
.rankings1 {
  position: absolute;
  top: 0;
  left: 96px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-xs);
  color: var(--primary-dark-2);
}
.marketplace-parent {
  align-self: stretch;
  height: 46px;
  position: relative;
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.user-icon4 {
  width: 20px;
  height: 20px;
  position: relative;
}
.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.button21 {
  position: relative;
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  font-weight: 600;
  font-family: var(--h2-work-sans);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
}
.sign-up4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-11xl);
  background-color: var(--text2-mercury);
  border-radius: var(--br-xl);
  flex-direction: row;
  gap: var(--gap-xs);
}
.frame-parent4,
.navigation-inner1,
.navigation4,
.sign-up4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.navigation-inner1,
.navigation4 {
  box-sizing: border-box;
  max-width: 100%;
}
.navigation-inner1 {
  width: 365px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  color: var(--color-gray-100);
}
.navigation4 {
  align-self: stretch;
  background-color: var(--bright);
  flex-direction: row;
  padding: var(--padding-3xs) 41px var(--padding-8xs);
  gap: 333.5px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--basebody-work-sans-size);
  color: var(--bright);
  font-family: var(--h2-work-sans);
}
.image-placeholder-icon3 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asset-12-2 {
  height: 120px;
  width: 120px;
  position: relative;
  object-fit: cover;
}
.avatar {
  border-radius: var(--br-xl);
  border: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cover-profile-image,
.profile-image {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.profile-image {
  width: 1090px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
  margin-top: -70px;
}
.cover-profile-image {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.artist-name,
.k2,
.total-sale1 {
  position: relative;
  text-transform: capitalize;
}
.artist-name {
  margin: 0;
  width: 510px;
  font-size: var(--h2-work-sans-size);
  line-height: 110%;
  font-weight: 600;
  font-family: var(--h2-work-sans);
  display: flex;
  align-items: center;
  max-width: 100%;
}
.k2,
.total-sale1 {
  align-self: stretch;
  line-height: 140%;
}
.total-sale1 {
  margin: 0;
  font-size: var(--body-text-work-sans-size);
  line-height: 160%;
  font-weight: 400;
  font-family: var(--h2-work-sans);
}
.total-sale {
  flex: 1;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.auctions1,
.k3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
}
.auctions1 {
  margin: 0;
  font-size: var(--body-text-work-sans-size);
  line-height: 160%;
  font-weight: 400;
  font-family: var(--h2-work-sans);
}
.auctions {
  flex: 1;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.artists1,
.k4 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-transform: capitalize;
}
.artists1 {
  margin: 0;
  font-size: var(--body-text-work-sans-size);
  line-height: 160%;
  font-weight: 400;
  font-family: var(--h2-work-sans);
}
.artists,
.stats {
  border-radius: var(--br-xl);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artists {
  flex: 1;
  flex-direction: column;
}
.stats {
  width: 510px;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--h4-space-mono-size);
}
.bio1,
.sharing-the-products {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  text-transform: capitalize;
}
.bio1 {
  font-weight: 700;
  font-family: inherit;
}
.sharing-the-products {
  font-weight: 400;
  font-family: var(--h2-work-sans);
  color: var(--primary-dark-2);
}
.bio {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-gray-100);
}
.links1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 68px;
}
.discordlogo-icon,
.globe-icon,
.instagramlogo-icon,
.twitterlogo-icon,
.youtubelogo-icon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
  cursor: pointer;
}
.icons {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.artist-info1,
.artist-name-button,
.icons,
.web-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.web-links {
  align-self: stretch;
  flex-direction: column;
  padding: 0 399px 0 0;
  gap: var(--gap-3xs);
  color: var(--color-gray-100);
}
.artist-info1,
.artist-name-button {
  max-width: 100%;
}
.artist-info1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.artist-name-button {
  width: 599px;
  flex-direction: row;
}
.frame-input {
  margin: 0;
  height: 21px;
  width: 20px;
}
.button23 {
  position: relative;
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  font-weight: 600;
  font-family: var(--h2-work-sans);
  color: var(--bright);
  text-align: center;
  display: inline-block;
  min-width: 113px;
}
.button22 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-xl);
  background-color: var(--text2-thunder);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.artist-info,
.frame-child10 {
  align-self: stretch;
  box-sizing: border-box;
}
.artist-info {
  background: linear-gradient(#fff, #fff), #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-21xl) 111px var(--padding-21xl) 115px;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-text-work-sans-size);
  color: var(--primary-dark-2);
  font-family: var(--base-body-space-mono);
}
.frame-child10 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--background-secondary);
}
.created,
.empty-content {
  position: relative;
  display: inline-block;
}
.created {
  margin: 0;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  min-width: 67px;
}
.empty-content {
  line-height: 140%;
  min-width: 20px;
}
.empty-content-wrapper,
.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.empty-content-wrapper {
  border-radius: var(--br-xl);
  background-color: var(--caption-label-text);
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  text-align: left;
  font-size: var(--basebody-work-sans-size);
  font-family: var(--base-body-space-mono);
}
.tab {
  flex: 1;
  border-bottom: 2px solid var(--caption-label-text);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-2xs);
  gap: var(--gap-base);
  max-width: 100%;
  color: var(--bright);
}
.created1,
.div {
  position: relative;
  display: inline-block;
}
.created1 {
  margin: 0;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  min-width: 119px;
}
.div {
  line-height: 140%;
  min-width: 20px;
}
.tab1,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper {
  border-radius: var(--br-xl);
  background-color: var(--background-secondary);
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  text-align: left;
  font-size: var(--basebody-work-sans-size);
  color: var(--bright);
  font-family: var(--base-body-space-mono);
}
.tab1 {
  flex: 1;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.created2,
.div1 {
  position: relative;
  display: inline-block;
}
.created2 {
  margin: 0;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  min-width: 65px;
}
.div1 {
  line-height: 140%;
  min-width: 20px;
}
.frame {
  border-radius: var(--br-xl);
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  text-align: left;
  font-size: var(--basebody-work-sans-size);
  color: var(--bright);
  font-family: var(--base-body-space-mono);
}
.tab2,
.tabs {
  flex: 1;
  flex-direction: row;
}
.tab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.tabs {
  overflow-x: auto;
  align-items: flex-start;
}
.line-parent1,
.tabs,
.tabs-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.tabs-container {
  width: 1090px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.line-parent1 {
  align-self: stretch;
  background-color: var(--black);
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3xs);
}
.image-placeholder-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image,
.nft-name {
  align-self: stretch;
}
.image {
  flex: 1;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-name {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.asset-12-21 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.avatar1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-artist {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-avatar-name,
.artst-info {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-avatar-name {
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--basebody-work-sans-size);
  font-family: var(--base-body-space-mono);
}
.artst-info {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.eth,
.price1 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.eth {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.price {
  flex: 0.8519;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-5xs);
}
.highest-bid1,
.weth {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.weth {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.highest-bid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: right;
}
.additional-info,
.nft-card,
.nft-info {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.additional-info {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--caption-space-mono-size);
  color: var(--caption-label-text);
  font-family: var(--base-body-space-mono);
}
.nft-card,
.nft-info {
  flex-direction: column;
}
.nft-info {
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-6xl);
  gap: var(--gap-6xl);
}
.nft-card {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--black);
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-placeholder-icon5,
.image1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
}
.image-placeholder-icon5 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-name1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.avatar-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-artist1 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-avatar-name1,
.artst-info1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-avatar-name1 {
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--basebody-work-sans-size);
  font-family: var(--base-body-space-mono);
}
.artst-info1 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.eth1,
.price3 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.eth1 {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.price2 {
  flex: 0.8519;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-5xs);
}
.highest-bid3,
.weth1 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.weth1 {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.highest-bid2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: right;
}
.additional-info1,
.nft-card1,
.nft-info1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.additional-info1 {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--caption-space-mono-size);
  color: var(--caption-label-text);
  font-family: var(--base-body-space-mono);
}
.nft-card1,
.nft-info1 {
  flex-direction: column;
}
.nft-info1 {
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-6xl);
  gap: var(--gap-6xl);
}
.nft-card1 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--black);
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.image-placeholder-icon6,
.image2 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
}
.image-placeholder-icon6 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-name2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.avatar-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-artist2 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.artist-avatar-name2,
.artst-info2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.artist-avatar-name2 {
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--basebody-work-sans-size);
  font-family: var(--base-body-space-mono);
}
.artst-info2 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.eth2,
.price5 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.eth2 {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.price4 {
  flex: 0.8519;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-5xs);
}
.highest-bid5,
.weth2 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.weth2 {
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  color: var(--bright);
}
.highest-bid4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: right;
}
.additional-info2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--caption-space-mono-size);
  color: var(--caption-label-text);
  font-family: var(--base-body-space-mono);
}
.additional-info2,
.nft-card2,
.nft-info2,
.reviews-row {
  display: flex;
  justify-content: flex-start;
}
.nft-info2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-6xl);
  gap: var(--gap-6xl);
}
.nft-card2,
.reviews-row {
  flex: 1;
  max-width: 100%;
}
.nft-card2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--black);
  flex-direction: column;
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.reviews-row {
  width: 1050px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.plus-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.plus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.see-more {
  position: relative;
  font-size: var(--basebody-work-sans-size);
  line-height: 140%;
  font-weight: 600;
  font-family: var(--h2-work-sans);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.button-frame,
.button24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button24 {
  cursor: pointer;
  border: 2px solid var(--primary-dark-2);
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-lgi);
  background-color: transparent;
  width: 145px;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.button-frame {
  width: 1050px;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  max-width: 100%;
}
.dashboard,
.frame-section,
.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reviews-section {
  align-self: stretch;
  height: 670px;
  background: linear-gradient(#fff, #fff), #fff;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-xl) 29px;
  box-sizing: border-box;
  gap: 32px;
  max-width: 100%;
  z-index: 1;
  margin-top: -3px;
  text-align: left;
  color: var(--bright);
}
.dashboard,
.frame-section {
  align-items: flex-start;
}
.frame-section {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: var(--body-text-work-sans-size);
  color: var(--caption-label-text);
  font-family: var(--h2-work-sans);
}
.dashboard {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .web-links {
    padding-right: 199px;
    box-sizing: border-box;
  }
  .artist-name-button {
    gap: 50px;
  }
  .artist-info {
    padding-left: 57px;
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
  .reviews-section {
    gap: var(--gap-base);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .navigation4 {
    gap: 167px;
  }
  .artist-name {
    font-size: var(--font-size-22xl);
    line-height: 45px;
  }
}
@media screen and (max-width: 450px) {
  .navigation4 {
    gap: 83px;
  }
  .artist-name {
    font-size: var(--font-size-12xl);
    line-height: 34px;
  }
  .k2 {
    font-size: var(--body-text-work-sans-size);
    line-height: 31px;
  }
  .total-sale1 {
    font-size: var(--p-size);
    line-height: 28px;
  }
  .k3 {
    font-size: var(--body-text-work-sans-size);
    line-height: 31px;
  }
  .auctions1 {
    font-size: var(--p-size);
    line-height: 28px;
  }
  .k4 {
    font-size: var(--body-text-work-sans-size);
    line-height: 31px;
  }
  .artists1,
  .bio1,
  .links1,
  .sharing-the-products {
    font-size: var(--p-size);
    line-height: 28px;
  }
  .web-links {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .artist-name-button {
    gap: var(--gap-6xl);
  }
  .artist-info {
    padding: var(--padding-7xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .created {
    font-size: var(--p-size);
    line-height: 25px;
  }
  .tab {
    flex-wrap: wrap;
  }
  .created1 {
    font-size: var(--p-size);
    line-height: 25px;
  }
  .tab1 {
    flex-wrap: wrap;
  }
  .created2 {
    font-size: var(--p-size);
    line-height: 25px;
  }
  .tab2 {
    flex-wrap: wrap;
  }
  .nft-name,
  .nft-name1,
  .nft-name2 {
    font-size: var(--p-size);
    line-height: 25px;
  }
}
